* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: auto;
    justify-content: center;
    align-items: center;
    background-image: url("img/bg.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

header {
    background: #008B8B;
    color: #B0E0E6;
    top: 50px;
    font-size: 22px;
}

.caixa {
	width: 940px;
	margin: 0 auto;
    padding: 20px;
}

nav {
    position: absolute;
    top: 50px;
    right: 0%;
    left: 70%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #B0E0E6;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    font-size: 22px;
    color: #7FFFD4;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;

}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding: 0;
}

.container div {
    margin: 10px;
    padding: 0px;
}

form {
    margin-top: 0em;
    margin: 0em;
    width: 55%;
    padding: 50px;
    background-color: #F0FFFF;
    color: #008B8B;
    position: relative;
}

.formtitle {
    display: block;
    font-size: 1em;
    font-weight: bold;
    align-content: center;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


label {
    padding: 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    font-size: 16px;
    font-weight: 400px;
    position: relative;
    justify-content: space-between;
}

#estadocivil, #genero {
    background: #B0E0E6;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #008080;
}

.input-padrao {
    margin: 0 0 20px;
    padding: 10px 25px;
    font-family: sans-serif;
    display: inline-block;
    border-radius: 10px;
    border-style: none;
    outline: none;
    background: #B0E0E6;
    width: 60%;
    resize: none;
    color: #008080;
}

.input-sn {
    margin: 0 0 20px;
    margin-right: 5px;
}

.required::after {
    content:"*"; 
    color: red;

}

legend {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: underline;
}

#button {
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 15px 0;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    background-color: #ADD8E6;
    display: auto;
    align-content: center;
    color: #E0FFFF;
    font-weight: bold;
    transition: 1s all;
}

#button:hover {
    background-color:#008B8B;
    font-size: 18px;
    
}

footer {
    background-color: #008B8B;
    padding: 30px;
    text-size-adjust: 100%;
    font-size: 14px;
    color: #B0E0E6;
}


footer li  {
    display: inline;
    margin: 5px;
    right: 50px;
    align-items: center;
    justify-content: center;
    left: 100px;
}

.dadosfooter {
    display: grid;
    justify-content: center;
}

h1 .pgdesenvol {
    width: 100%;
    color: red;
}

